.Answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.Spot {
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid black;
  height: 3rem;
  width: 3rem;

  margin: 1rem;
}

.Spot > h1 {
  font-family: cursive;
  font-size: 32px;
}
